<button  type="button" class="btn btn-sm btn-light" (click)="goBack()">go back</button>
<div *ngIf="news">
    <h2>{{news.title}}</h2>
    <div class="row">
      <div class="col"><img class="img-fluid" src="{{news.urlToImage}}">
      </div>
      <div class="col-6">
        {{news.content}}
      </div>
      <div class="col-6">
        {{news.description}}
      </div>

    </div>
    <div>
      <span>Data: {{news.publishedAt | date:'h/mm/yyyy : h:mm'}}</span><br/>
      <span>{{news.author}}</span>
    </div>
    <div *ngIf="customNews" class="d-flex justify-content-center">
      <button class="btn btn-primary button mr-2" (click)="editNews(news._id)">Edit</button>
      <button class="btn btn-primary button mr-2" (click)="deleteNews()">Delete</button>
    </div>
</div>
