<div class="align-content-sm-center">
  <ul *ngIf="newsList" class="list-group list-group-flush">
    <li *ngFor="let news of newsList | filterNewsByTitle: searchTerm" class="list-group-item border border-dark">
      <div class="row">
        <div class="col"><img class="img-fluid" src="{{news.urlToImage}}">
        </div>
        <div class="col-6" (click)="getDetails(news)">
          <h5 class="card-title mb-1"> {{news.title}} </h5>
          <div *ngIf="news.description"> {{ (news.description.length > 50) ? (news.description | slice:0:50) + '..' : (news.description) }}
            <span>Read more..</span>
          </div>
        </div>
        <div class="d-flex bd-highlight media-body col-3">
          <div class="d-flex justify-content-between">
            <small class="pr-1 align-text-top">{{news.publishedAt | date:'h/mm/yyyy : h:mm'}}</small>
            <div *ngIf="news.custom">
              <a class="btn btn-primary btn-sm button" (click)="editNews(news._id)" role="button">Edit</a>
              <a class="btn btn-primary btn-sm mt-1 button" (click)="deleteNews(news)" role="button">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button type="button" class="btn btn-secondary btn-lg btn-block bg-dark text-white" (click)="getNews()">Load more
  </button>
</div>


